{% extends "base.html" %}

{% block announce %} Join our <a href="https://scenerystack.org/community/join/" target="_blank">chat</a> or <a href="https://github.com/orgs/scenerystack/discussions" target="_blank">forum</a> to engage with the community! Next community meeting is on May 14, 2025 10 AM MT/16:00 UTC.
{% endblock %}

{% block outdated %}
You're not viewing the latest version.
<a href="{{ '../' ~ base_url }}">
  <strong>Click here to go to latest.</strong>
</a>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="../docs/stylesheets/extra.css">
{% endblock %}